{{>header}}
<h1>{{pageTitle}}</h1>
<br><br>
<div class="main-content">
    <p>
        This is a web-app that uses Weather Stack API and Mapbox API to get the weather details of any valid location.
        The user input location is forward geo coded to determine the latitude and longitude. These coordinates are used by Weather Stack to return a JSON weather object.
    </p>
</div>
{{>footer}}