{{>header}}
<h1>{{pageTitle}}</h1>
<br><br>
<div class="main-content">
    <p>
        MapBox API :<a href="https://docs.mapbox.com/api/search/#geocoding">https://docs.mapbox.com/api/search/#geocoding</a><br><br>
        Weather Stack API :<a href="https://weatherstack.com/documentation">https://weatherstack.com/documentation</a><br><br>

        <b>Got any questions??</b><br>
        Shoot us a mail at r.arvind007@gmail.com
    </p>
</div>
{{>footer}}